.account-header{
	background-color: #f6f6f6;
	color:#333333;
	margin: 20px 0px 10px 0px; 
	border: 1px solid #cccccc;
    border-radius: 2px;
    text-align: center;
    padding: 15px 0px 15px 0px; 
    
}
.sel_cont_acc select{
    color: red;
    display: block;
    float:left;
}
.sel_cont_acc label{
    color: red;
    float:left;
    display: block;
}
.account-body{
	background-color: #f6f6f6;
	color:#333333;
	margin: 20px 0px 10px 0px;
	border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 5px 10px 10px 10px;
}
.account-body .title{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.account-line{
	padding: 0px 0px 10px 0px; 
}
.account-line h4{
	color: #d0d0d0;
    width:100%; 
    text-align:center; 
    border-bottom: 2px dotted #d0d0d0; 
    line-height:0.1em; 
    margin:15px 0px 15px 0px;
} 
.account-line h4 span {
	background: url("../images/leftmenu-electry.png") no-repeat center; 
    padding: 10px;
}
.cancel-btn{
	color: #fff;
	border: 0px solid;
    border-radius: 2px;
    border-color: none;
    background-color: #919191;
    margin-bottom: 10px;
}
.login-btn{
	border: 0px solid;
    border-radius: 2px;
    border-color: none;
    background-color: #e3000f;
    color: #fff;
    margin-bottom: 10px;
}