.admin-loginpanel{
	margin-top: 10px;
	padding : 15px;
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 1px solid #cccccc;
}
.back-btn a{
	text-decoration: none;
	font-size: 25px;
	color:black; 
}
.back-btn{
	margin-top: 25px;

}
.admin-loginpanel-logo{
	margin: 75px auto 0px auto; 
	display: block;
}
.admin-loginpanel hr{
	margin: 12px; 
}
.dashboard-panel{
	margin-top: 10px;
	padding : 15px;
	background-color: #f6f6f6;
	border-radius: 5px;
	border: 1px solid #cccccc;
}