.nmbrsrch {
    display: flex !important;
    display: -ms-table-cell;
    float: right;
    width:60%;
    max-width:376px;
    
}
.navbar-form{padding-right:0px;}
.navbar-right .dropdown-menu {
    left: auto;
    right: -60px;
}
.logotxt {
    font-size: 13px;
    text-align: justify;
    width: 245px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
}
p.MsoNormal, p.MsoNormal span, .maincolor .col-md-6 span {
    font-size: 14px !important;
    line-height:24px !important;
}
h4.hdr-nmbr {
    font-size: 18px; margin:0;
    font-weight: bold;
    width:100%; max-width:135px;
    display:inline-block;
}
.nmbrsrch .navbar-form{width:100%; max-width:240px; display:inline-block; float:right !important;}
span.nmbclr {
    color: #e3000f; display:block; line-height:20px;
     background: url(../images/tel1_pic.png) no-repeat left top;
     padding-left:25px;
     font-size:16px; line-height:24px;
}
.panel-title{font-size:18px;}
/*new css*/
.navbar-default .navbar-brand {
    display: block;
    height: auto;
    padding: 0;
}

span.nmbclr.cell{background: url(../images/iphone_pic.png) no-repeat 7px top;}
input.cesusearch {
    padding: 4px;
    box-shadow: inset 1px 4px 7px #e6e6e6;
    -moz-box-shadow: inset 1px 4px 7px #e6e6e6;
    -webkit-box-shadow: inset 1px 4px 7px #e6e6e6;
    border: 1px solid #dbdbdb;
    font-style: italic;
}
button.searchsbmt {
    background-color: #e3000f;
    color: #fff;
    border: none;
    padding: 5px 10px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    box-shadow:  -17px -2px 18px 10px #ccc;
    -webkit-box-shadow: -17px -2px 18px 10px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    -17px -2px 18px 10px #ccc;  /* Firefox 3.5 - 3.6 */
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif' !important;
  /*font-family: 'Lato', sans-serif !important;*/
  font-size:14px;
}

.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    max-width: 1127px;
    width:100%;
    height: auto !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0 0 7px;
  margin: 0;
    border-bottom: 1px solid #e5e5e5; width:100%; float:left; min-height:172px; position:relative;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
  transition: all 0.5s ease;
}
.mega-dropdown-menu > li > ul > li > a:hover {
    background-color: red;
    padding: 7px 9px 6px 7px;
    color: #fff;
}


.read_more_content{width:100%; float:left;}
.read_more_content li {
    list-style-type: none;
}

.read_more_content li a {
    color: #222; font-size:14px;
    line-height: 16px;
    text-decoration: none; display:block; padding:3px 5px;
}
.read_more_content li a:hover {
    background-color: red;
    padding: 7px 9px 6px 7px;
    color: #fff;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #112052;
  padding: 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
li.dropdown.mega-dropdown.domestic {
    background-repeat: no-repeat;
    color: #fff;
   width: 169px;
}
li.dropdown.mega-dropdown.business {
    background-repeat: no-repeat;
    color: #fff;
}
a.dropdown-toggle.dmstic {
    color: #fff;
    background: url(../images/business.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 22px;
    font-size: 20px;
    padding-top: 22px;
    width: 208px;
    text-align: center;
    position: relative;
    margin: 8px 13px;
    transition: all 0.7s ease;
}
a.dropdown-toggle.bisness{
    background: url(../images/business.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 22px;
    font-size: 20px;
    padding-top: 22px;
    width: 208px;
    color: #fff;
    text-align: center;
    position: relative;
    margin: 8px 13px;
    transition: all 0.7s ease;
}
.list-group .col-xs-2{text-align:right;}

.navbar-inverse .navbar-nav > li > a.dropdown-toggle.bisness:hover, .navbar-inverse .navbar-nav > li > a.dropdown-toggle.bisness:focus{
    color: #fff;
    background: url(../images/domestic.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 22px;
    font-size: 20px;
    padding-top: 22px;
    width: 208px;
    text-align: center;
    position: relative;
    margin: 8px 13px;
    transition: all 0.7s ease;
}
a.dropdown-toggle.dmstic:hover{
 background: url(../images/domestic.png) no-repeat left 8px; 
  margin: 8px 12px; 
}
li.cesu-menu {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-top: 12px;
    position: relative;
    left: 6%;
}
.navbar-nav li.cesu-menu a{font-size:20px;}

.collapse.navbar-collapse.js-navbar-collapse {
    position: relative;
}
.bs-example {
    padding-left:20px; width:100%; float:left; position:relative;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -16px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 28px;
}
button.close1 {
    margin-top: -288px;
    color: #fff;
    opacity: 0.9;
    float: right;
    margin-right: 5px;
    background-color: #000;
    border: none;
}
.cesu-bg{
   background: url(../images/bgb.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -33px;
    height: auto;
}
.cesu-bg2{
     background: url(../images/bgb.png) no-repeat;    
}
nav.navbar.navbar-inverse {
   margin-left: -11px;
    margin-top: -31px;
}
div#post-detailsxxx {
    float:left;
    width:100%;
    
}
.banner_content {
    float: left;
    position: relative;
    width: 100%;
}
h3.zolo-toggle-trigger {
    display: block;width:100%; max-width:30px; position:relative; z-index:99; cursor:pointer;
    min-height:30px;
    float: right;
    margin: 0; font-size:0;
    background: url(../images/close_banner.png) no-repeat;
    background-size:15px !important;
    -webkit-background-size:15px !important;
    -moz-background-size:15px !important;
    -ms-background-size:15px !important;
    background-position:center;
    position:absolute; top:0; right:0;
    }
    .navbar-nav > li > a{font-weight:300; font-size:15px;}
h3.menu-more-trigger{ display: block;width:100%; max-width:15px; position:absolute; right:0; bottom:10px; z-index:99; cursor:pointer; font-size:0;
    min-height:15px;
    float: right;
    margin: 0; background: url(../images/open_banner.png) no-repeat right 4px;
    background-size:11px !important;
    -webkit-background-size:11px !important;
    -moz-background-size:11px !important;
    -ms-background-size:11px !important;
    
    }
h3.menu-more-trigger.active{background: url(../images/close_banner.png) no-repeat right 4px;}

.dropdown-menu h3.zolo-toggle-trigger{position:static; font-size:12px; background:none; line-height:14px; color:#e3000f; max-width:100%; padding:0 5px; text-align:right; min-height:auto;}

    
h3.zolo-toggle-trigger.active{background: url(../images/open_banner.png) no-repeat; position:static; background-position:right center;}
img.img-responsive.cesutab {
    float: left;
    padding: 0px 3px;
}
li.list-group-item {
    background-color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #606060;
  /*  font-size: 13px;*/
    outline:none;
}
ui-state-active:focus, ui-state-active:active{outline:none !important;}
button:active, input:active,textarea:active, a:active { outline: none } 
button:focus, input:focus,textarea:focus, a:focus  { outline:none }

.tab-submenu {
    background-color: #fff;
    
    width: 100%;
    padding: 11px 0px 0px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    color: #606060;
    text-transform: none;
}
.tab-submenu a{text-decoration:none;}
p.cesu-tab {
    border-bottom: 1px dotted #aeaeae;
    color: #000;
    transition: all 0.3s ease;
    margin: 0;
    padding: 8px 0px;
}
p.cesu-tab:hover {
    background-color: crimson;
    color: #fff;
    text-decoration: none !important;
}

.panel-heading.leftmenu {
    background-color: #e3000f;
    color: #fff;
}
.maincolor {
    background-color: #fff;
    margin-left: 20px;
    width: auto;
    position: relative;
    height: auto;
    min-height: 100% !important;
    overflow: auto;
    border: 1px solid #d3d3d3;
    margin-top: 4px;
    margin-bottom: 15px;
}
.vd {
    background-color: #fff;
    height: 600px;
    margin-left: 20px;
    width: auto;
    border: 1px solid #d3d3d3;
    margin-top: 4px;
    margin-bottom: 15px;
}
.cesu-lefttab {
    margin: 0 0 0 0px;
}
nav.navbar.navbar-default.navbar-static-top.cesu {
    padding: 10px 2px 12px;
}

p.cesu-content {
    text-align: justify;
    /*font-size: 12px;*/
}
.col-md-3.lefttab {
    padding-left: 0;
    margin-top: 20px;
}
.col-md-3.righttab {
    padding-right: 6px;
    margin-top: 20px;
}
li.list-group-item.tab {
    background-color: #606060;
    /*font-size: 14px;*/
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    outline:none;
}
li.list-group-item.tab:focus, li.list-group-item.tab:active, .ui-accordion-header:focus, .ui-accordion-header:active{outline:none !important;}
.adsofc {
    background-image: url(../images/ourofc.png);
    background-repeat: no-repeat;
    padding: 1px 21px;
    width: 100%;
    height: 129px;
    color: #6f6f6f;
    line-height: 0.5;
}
button.ofcservice {
    background-color: #1e2d5c;
    padding: 6px 9px;
    color: #fff;
    /*font-size: 12px;*/
    border: none;
    border-radius: 3px;
}
.cesuproducts {
    margin: auto;
    text-align: center;
    float: left;
    margin: 0;
    width: 100%; padding-top:20px;
}
.cesuproducts h4 {
    color: #6f6f6f;
}
.cesuproducts p {
   /* font-size: 13px;*/
}
.redmr a {
    color: #e3000f;
    font-style: italic;
    font-weight: bold;
}

.adsofc h3 {
    text-transform: uppercase;
    font-size: 21px;
}
.hidden-content {
    display:none;
/*    border: 1px solid black;*/
padding:0 5px;
}
.footer {
    margin-top: 20px;
    background-color: #606060;
    width: 100%;
    border-top: 5px solid #c8121e;
    height: 254px;
    color: #fff;
}
.cesu-ftr {
    margin-left: 16px;
}
.cesu-ftr p {
/*    font-size: 13px;
*/    line-height: 18px;
}
.cesu-ftr p a {
    color: #bbbbbb;
}
.cesu-ftr p a:hover {
    color: #fff;
    text-decoration: none;
}
.contactcesu p {
    line-height: normal;
    margin: auto;
}
.contactcesu span {
    float: left;
    padding: 2px 13px;
}
.social-icn span {
    padding: 28px 3px;
}
a.enquiry {
    float: right;
    margin-top: -1160px;
}
li.col-sm-3.mega {
    width: 20%;
}
.account-login {
    background-color: #112052;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #fff;
    text-transform: uppercase;
}
.col-md-6.nusr2 {
    text-align: right;
}
.col-md-6.nusr2 a {
    color: #000;
}
.col-md-12.newusr {
    border-bottom: 1px solid #aeaeae;
    padding: 7px;
}

.breadcrumb.flat {
    background-color: #fff;
}
.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-weight: bold;
    /*font-size: 14px;*/
    line-height: 36px;
    color: white;
    padding: 0px 10px 0px 40px;
    text-transform: uppercase;
    background: #fff;
    background: linear-gradient(#fff, #fff);
    position: relative;
}

.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
    padding-right: 20px;
}

.breadcrumb a.active, .breadcrumb a:hover{
    background: #fff;
    background: linear-gradient(#fff, #fff);
}
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -16px; /*half of square's length*/
    width: 36px; 
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #fff;
    background: linear-gradient(135deg, #fff, #fff);
    box-shadow: 
        4px -4px 0 4px rgb(255,255,255), 
        4px -4px 0 4px rgba(255, 255, 255, 0.5);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}

.flat a, .flat a:after {
    background: #112052;
    color: #fff;
    transition: all 0.5s;
}
.flat a:before {
    background: white;
    box-shadow: 0 0 0 1px #fff;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background: #e3000f;
    color: #fff;
}
.grt-rsn {
    padding: 13px;
    line-height: 1.9;
}
.grtrsn {
    padding: 13px;
    line-height: 1.9;
}
.newsr {
    border: 1px solid #dadada;
    padding: 13px;
    margin-top: 14px;
    border-radius: 3px;
}
.form-control.nuser {
    height: 40px;
    box-shadow: inset 0 1px 9px rgba(5, 5, 5, 0.1);
    border: 1px solid #dadada;
}
button.btn.btn-blue {
    background-color: #112052;
    color: #fff;
}
button.btn.btn-blue:hover {
    background-color: #19348f;
    color: #fff;
}
img.img-responsive.hp {
    float: left;
}
.help span {
    float: left;
    padding: 1px 8px;
    color: #000;
}
.help {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 1px 10px 1px;
    border: 1px solid #d3d3d3;
    color: red;
}
.help:hover{
 text-decoration: none;
    opacity: 0.8;
}
.help h4:hover {
     text-decoration: none;
}
.col-md-4.mpayment {
    padding-top: 20px;
}
.col-md-5.mpayment {
    padding: 20px;
}
.col-md-9.mpay {
    border: 1px solid #d3d3d3;
    margin-top: 20px;
    border-radius: 4px;
    height: auto;
}
span.glyphicon.glyphicon-ok.nusr {
    position: absolute;
    right: 25px;
    top: 12px;
}
button.nonpawd {
    background-color: #112052;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 9px 20px;
}
.adrs {
    text-align: center;
    border: 1px solid #aeaeae;
    margin-top: 9px;
    padding: 16px;
    border-radius: 3px;
    background-color: #f8dfe0;
    font-weight: 600;
    line-height: 12px;
}
.adrs span {
    color: #e0000f;
}
.col-md-9.verifydtl {
    background-image: url(../images/verifybg.png);
    height: 405px;
}
.paybill h3 {
    text-align: center;
}
img.img-responsive.undrln {
    margin: auto;
}
select.cmont {
    padding: 2px 95px 3px 2px;
    box-shadow: inset 0 1px 9px rgba(5, 5, 5, 0.1);
}
.col-sm-4.bill {
    margin: auto;
    text-align: right;
    /*font-size: 13px;*/
    font-weight: 500;
    padding: 5px;
}
#ui-datepicker-div {
    position: absolute;
    width: 210px;
    background-color: lavenderblush;
    padding: 9px;
    border: 1px solid #aeaeae;
}
.ui-datepicker-next.ui-corner-all {
    float: right;
    cursor: pointer;
}
a.ui-datepicker-prev.ui-corner-all {
    cursor: pointer;
}
.ui-datepicker-title {
    text-align: center;
    font-weight: bold;
}
table.ui-datepicker-calendar {
    width: 194px;
}
a.ui-state-default.ui-state-highlight {
    background-color: coral;
    color: #fff;
    padding: 2px 4px;
    /*font-size: 12px;*/
}
.datepc {
    padding: 2px 52px 2px 2px;
    box-shadow: inset 0 1px 9px rgba(5, 5, 5, 0.1);
    border: 1px solid #aeaeae;
    /*font-size: 13px;*/
}
.col-sm-8.bill {
    padding: 2px;
}
.img-responsive.date {
    margin: auto;
    position: relative;
    top: -26px;
    left: -25px;
}
div#sandbox-container {
    margin: auto;
    max-height: 25px;
}
span.helptxt {
   /* font-size: 12px;*/
}
span.nmb {
    color: #112052;
    font-size: 12px;
}
img.img-responsive.prcd {
    display: inline-block;
}
button.btn.btn-prced {
    background-color: #112052;
    padding: 8px 17px 5px 10px;
    color: #fff;
    margin-top: 12px;
    transition: all 0.5s ease 0s;
}
button.btn.btn-prced:hover {
    background-color: #1132a0;
    padding: 8px 17px 5px 10px;
    color: #fff;
    margin-top: 12px;
}
button.btn.btn-danger.vw {
    margin-top: 12px;
}
.paybill {
    background-color: #e3e9ff;
    margin-top: 14px;
    padding-top: 1px;
    padding-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #aeaeae !important;
}
#ui-datepicker-div {
display: none;
}
.col-md-9.cpay {
    margin-top: 15px;
    border: 1px solid #e2e2e2;
    padding: 0;
}
.col-sm-3.bamnt {
    color: #e3000f;
}
.servicename {
    font-weight: 500;
   /* font-size: 13px;*/
    margin-top: 10px;
}
.col-sm-2.amnt {
    color: #e3000f;
}
.col-md-12.netbnk {
    background-color: #dfdede;
    padding: 5px 30px;
    margin-bottom: 19px;
}
.banking {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    cursor: pointer;
}
label.cpayment {
    padding: 0px 6px;
    /*font-size: 13px;*/
    font-weight: 500;
    color: #112052;
    cursor: pointer;
}
button.btn.btn-cnpaymn {
    background-color: #112052;
    padding: 8px 17px 5px 10px;
    color: #fff;
    margin-top: 12px;
    text-transform: uppercase;
}
button.btn.btn-cnpaymn:hover {
    background-color: #1132a0;
    padding: 8px 17px 5px 10px;
    color: #fff;
    margin-top: 12px;
}
input.readtxt {
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
}
.col-sm-12.cesubankchk > p {
   /* font-size: 13px;*/
    font-weight: 500;
}
.col-sm-12.cesubankchk span {
    color: red;
}
label.cesuchktxt {
   /* font-size: 13px;*/
    font-weight: 500;
    color: #112052;
}
.desclm p {
    font-size: 13px;
}
.desclm {
    border: 1px solid #ececec;
    padding: 0px 18px;
    margin-bottom: 9px;
    border-radius: 3px;
    background-color: #f6f6f6;
}
p.frmt {
    display: inline-flex;
    float: right;
    position: relative;
    top: -72px;
}
.mnrecpt {
    border: 1px solid #e2e2e2;
    margin-top: 10px;
    padding: 5px;
    height: 462px;
}
img.img-responsive.mlg {
    padding-top: 17px;
}
.frmt span {
    padding: 6px;
}
.col-md-12.rptdt {
    padding: 4px;
    font-weight: 500;
    /*font-size: 13px;*/
}
.col-md-4.rcptlft {
    color: red;
}
.col-md-12.cesuad {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    color: #aeaeae;
}
.fullstry {
    width: 300px;
    margin: auto;
}
.details-rcpt {
    position: absolute;
    margin-top: 15px;
}
.dclmrcesu {
    /*font-size: 12px !important;*/
    background-color: #f3efef;
    padding: 6px 12px 9px;
    margin-top: 9px;
    border: 1px solid #e2e2e2;
    margin-left: 5px;
    margin-right: 25px;
}
/*update css on 7.6.16*/
.banner_content .carousel-inner .banner_caption_cesu{ width:100%; float:left; left: 0%;  position: absolute; top: 50%; transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
     -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      max-width:500px; color:#fff;
      margin-left:40px;
      background:rgba(0,0,0,0.3);
      padding:10px;}
.banner_content .carousel-inner h2{
      color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
      margin:0;
      padding:0;
      text-shadow:0px 1px 1px #112052;
      -webkit-text-shadow:0px 1px 1px #112052;
      -ms-text-shadow:0px 1px 1px #112052;
      margin-bottom:10px;
      }
.breadcum_content{width:100%; float:left; padding:13px 0px 10px 0px; border-bottom:1px solid #efefef; margin-bottom:14px;}
.breadcum_content ul{margin:0; padding:0; list-style:none;}
.breadcum_content ul li{display:inline-block; color:#919191; position:relative; padding:0px 7px;}
.breadcum_content ul li a{display:block; color:#e20615; text-decoration:none; font-size:13px; line-height:13px;}
.breadcum_content ul li:first-child{padding-left:0;}
.breadcum_content ul li:after{ background: #979797; content:"";
    height: 10px;
    position: absolute;
    right: -3px;
    top: 2px;
    width: 1px;}
.breadcum_content ul li:last-child:after{display:none;}
.footer{width:100%; float:left; height:auto;}
.large_screen{display:block;}
.mobile_screen{display:none;}
.nav_search_box{width:100%; float:left; position:relative;}
.contact_info_mob{width:100%; float:left;}
@media (max-width:1169px){

.mega-dropdown-menu{width:100%; max-width:1109px;}
a.dropdown-toggle.dmstic:hover{
  margin: 7px 12px; 
}
}
@media (max-width:1024px){

li.cesu-menu{font-size:14px;}
.mega-dropdown-menu .dropdown-header{font-size:13px;}
.dropdown-menu{font-size:12px;}
.footer .cesu-ftr{margin:0; width:100%; float:left;}
.footer .cesu-ftr .col-md-3.prd{width:25%; float:left;}
.contactcesu .social-icn .img-responsive{width:24px;}

}
@media (max-width:979px){
.large_screen{display:none;}
.mobile_screen{display:block;}

.adsofc{background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-ms-background-size:cover;
height:auto; padding-bottom:20px;
 }
.contact_info_mob{width:50%; float:right;}
.navbar-nav > li > .dropdown-menu{width:97%;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{width:100%; float:left;}
.nmbrsrch{width:100%; float:left; display:block;}
h4.hdr-nmbr{width:100%; float:right; max-width:135px; margin-top:22px; display:block;}
.navbar-form.navbar-left{width:100%; float:right; text-align:right; margin:0; padding:0; padding-left:100px;}
.navbar-form.navbar-left .form-group{width:100%; float:left; position:relative; padding:20px 0px; margin:0;}
button.searchsbmt{ padding:0;position: absolute;right: 0; font-size:18px; min-height:40px; width:100%; max-width:40px;}
input.cesusearch{width:100%; min-height:40px; padding:7px 42px 7px 7px; max-width:270px;}
.cesu-header .collapse.navbar-collapse, .cesu-header .collapse.navbar-collapsing, .cesu-header .navbar-collapse{width:100%; float:left; border:none !important;}
.col-md-4.logo{width:50%; float:left; max-width:245px; margin:20px 0px; padding:0;}

.navbar-right{width:100%; float:left; margin-right:0;}
.nav > li > a{padding:10px 14px !important;}
.navbar-header{width:100%; float:left;}
.nav_search_box .navbar-header .navbar-toggle{float:left; border:none; position:absolute; top:50%; margin:0; transform: translate(0%, -50%);
-webkit-transform: translate(0%, -50%);
-moz-transform: translate(0%, -50%);
-ms-transform: translate(0%, -50%);
background:url(../images/mobile_menu_open.png) no-repeat left top; width:60px; height:60px; 
background-size:contain !important;
-moz-background-size:contain !important;
-webkit-background-size:contain !important;
-ms-background-size:contain !important;
}
#navbar .navbar > .container .navbar-brand, #navbar .navbar > .container-fluid .navbar-brand{margin:0;}
a.enquiry{position:relative; z-index:999;}
.navbar-toggle{display:block;}
nav.navbar.navbar-inverse{display:none;}
.cesu-bg{margin:0; width:100%; float:left;}
nav.navbar.navbar-default.navbar-static-top.cesu{padding:0;}
.navbar{margin:0;}
.bs-example{padding:0;}
.maincolor{margin:0;}
.cesuproducts .col-md-3.prd { float: left;
    margin-bottom: 20px;
    width: 50%;
}
.footer{margin:0;}

/*mobile second menu*/
.mobile_second_menu{width:100%; float:left; padding:20px 0px;}
.mobile_second_menu ul{margin:0; padding:0; list-style:none;}
.mobile_second_menu ul ul.submenu_childmenu{width:100%; float:left; min-height:220px; margin-bottom:10px; padding-right:20px;}
.mobile_second_menu ul li a{text-decoration:none; display:block; color:#222; outline:none; font-size:14px; line-height:18px; padding:5px;}

.mobile_second_menu ul ul ul li a:hover {background-color: red;color: #fff;padding: 7px 9px 6px 7px;}

.mobile_second_menu ul li h3.main_menu_title, .mobile_second_menu ul .main_menu_second  li a {display:block; color:#fff; text-transform:uppercase; font-size: 16px; line-height:16px; margin:0; padding:11px 20px 12px; 
background: rgba(174,174,174,1);
background: -moz-linear-gradient(top, rgba(174,174,174,1) 0%, rgba(145,145,145,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(174,174,174,1)), color-stop(100%, rgba(145,145,145,1)));
background: -webkit-linear-gradient(top, rgba(174,174,174,1) 0%, rgba(145,145,145,1) 100%);
background: -o-linear-gradient(top, rgba(174,174,174,1) 0%, rgba(145,145,145,1) 100%);
background: -ms-linear-gradient(top, rgba(174,174,174,1) 0%, rgba(145,145,145,1) 100%);
background: linear-gradient(to bottom, rgba(174,174,174,1) 0%, rgba(145,145,145,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeaeae', endColorstr='#919191', GradientType=0 );
transition:all 0.5s ease;
-webkit-transition:all 0.5s ease;
-moz-transition:all 0.5s ease;
-ms-transition:all 0.5s ease;
width:100%; float:left;
cursor:pointer;
margin-bottom:1px;
}
.mobile_second_menu ul li h3.main_menu_title a{font-size:16px; line-height:16px; text-transform:uppercase; color:#fff; padding:0;}
.mobile_second_menu .main_menu_second{width:100%; float:left;}
.mobile_second_menu li {float: left;width: 100%;}
.mobile_second_menu ul li h3.main_menu_title:hover, .mobile_second_menu ul .main_menu_second  li a:hover{
background: rgba(198,1,14,1);
background: -moz-linear-gradient(top, rgba(198,1,14,1) 0%, rgba(227,0,15,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(198,1,14,1)), color-stop(100%, rgba(227,0,15,1)));
background: -webkit-linear-gradient(top, rgba(198,1,14,1) 0%, rgba(227,0,15,1) 100%);
background: -o-linear-gradient(top, rgba(198,1,14,1) 0%, rgba(227,0,15,1) 100%);
background: -ms-linear-gradient(top, rgba(198,1,14,1) 0%, rgba(227,0,15,1) 100%);
background: linear-gradient(to bottom, rgba(198,1,14,1) 0%, rgba(227,0,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6010e', endColorstr='#e3000f', GradientType=0 );
}
.mobile_second_menu ul ul.mob_submenu_bg{width:100%; float:left; padding:20px 0px;}
.mob_submenu_bg li{color:#112052; font-size:18px; line-height:20px; padding:0; margin:0; width:50%;}
.mob_submenu_bg li ul.submenu_childmenu li{width:100%; float:left; margin-bottom:3px;}
.submenu_childmenu{width:100%; float:left;}
.submenu_childmenu{}


.mob_submenu_bg li.subtitle_submenu{width:100%;}

}

@media (max-width:767px){
.footer .cesu-ftr .col-md-3.prd{height:100%; width:50%; float:left; min-height:240px;}
.contactcesu .social-icn .img-responsive{width:auto;}
}
@media (max-width:520px){
.banner_caption_cesu{display:none;}
.footer .cesu-ftr .col-md-3.prd{width:100%; text-align:center; min-height:auto;}
.nav_search_box .navbar-header .navbar-toggle{width:40px; height:40px;}
.social-icn{width:100%;  max-width:190px; margin:0 auto;}
.nav > li > a {padding: 5px 14px !important;}
}
@media (max-width:480px){
.col-md-4.logo{max-width:100%; width:100%; padding:20px 0px 7px; margin:0;}
#navbar{width:100%; float:left;}
#navbar .navbar > .container .navbar-brand, #navbar .navbar > .container-fluid .navbar-brand{width:100%;}
.navbar-brand .img-responsive{margin:0 auto;}
h4.hdr-nmbr{float:none; margin:0 auto;}
.contact_info_mob{padding-bottom:20px; width:100%;}
.cesuproducts .col-md-3.prd { float: left;
    margin-bottom: 20px;
    width: 100%;
}
.mob_submenu_bg li{width:100%;}
.mobile_second_menu ul ul.submenu_childmenu{padding-right:0; min-height:auto;}
}
.users-ribbon{
    color: #333;
    padding: 15px 0px 0px 0px;
}
.users-ribbon .username{
    text-align: left;
}
.users-ribbon .logout{
    text-align: right;
    text-decoration: none;   
}
.users-ribbon .logout a{
    color: #e20615;
    text-decoration: none;   
}
.righttab .right-tab{
    background-color: #606060;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    outline:none;
    padding: 10px 10px 10px 17px;
    border: 1px solid;
    border-radius: 4px; 
}
.right-tab-icon{
    display: inline;
}
.right-tab-title{
    display: inline;
    padding-left: 5px;
    text-decoration: none;
}
.righttab a:hover{
    text-decoration: none;
}
.righttab-tabs{
    padding: 0px 10px 0px 0px;
}
.alert .alert-danger .alert-dismissible{
    font-size: 12px;
    padding: 0px;
    margin: 0px;
     
}